.project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-input {
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
}

.project-item {
    background-color: #fff;
    border-radius: 7px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.project-item__actions {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-title {
    font-size: 21px;
    margin-bottom: 8px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

.projects-form {
    width: 300px;
}

.project-list__container {
    flex: 1;
}