.button {
    padding: 8px;
    border: none;
    border-radius: 3px;
    color: #222222;
    background-color: #ffffff;
    font-weight: 500;
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #eeeeee;
}